doctype html
html
  head
    title Worth Your Salt
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    if keywords
        meta(name='keywords' content=keywords)
    meta(name='description' content=`Author: Kris-Mikael Krister, Illustrator: Hilde. D. Johannessen, ${description}`)
    link(rel='stylesheet' href=css)

  body
    block content
